<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">

        <img src="../../assets/images/logo2.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center text-muted">Developed by:</div>
      <div class="text-center">
        <h3>Oloyede Paul</h3>
      </div>

      <div class="text-center text-danger">@ayopaulofficial</div>
      <div class="text-center">
        <P class="text-info h5">Mini Product Website built with Angular</P>
      </div>
    </div>
  </div>
</div>
